<div class="image-block-wrapper {{ section.useSpecialBackground ? "special" : "" }} {{section.code}}">
	<div class="container image-block">
		<div class="block-content">
			{{ section.content|expandHtml }}
		</div>
		{% if section.image != null %}
			{{ section.image.tag("big-image", section.imageDescription)|expandHtml }}
		{% else %}
			<div class="big-image">
				{{ section.getMedia().getEmbedCode()|expandHtml }}
			</div>
		{% endif %}
	</div>
</div>